.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
    font-size: 10pt;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    margin-right: 0;
}
body {
    margin: 0;
    padding-top: 40px;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}
img{
    margin-left: 10px;
    margin-right: 10px;
}
td{
    height: 60px;
width: max-content;
}
th{
    background-color: #2393f6
    ;
    color: white;
}
tr{
    width: 50px;

}
table{
    margin-left: 60px;
    margin-top: 65px;
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-collapse: collapse;
     box-shadow: 1px 1px 1px #999; 
}


