<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-8">
        

        <!-- Links blaset logo -->
        <div class="container">
        <img class="sml" src="/assets/images/smlogo.png" alt="smlogo">
            <p>
    Laevitas est une plateforme d’analyse de données sur les crypto actifs qui fournit des outils, recherches
     et visualisation de données sur une multitude de marchés y compris les produits dérivés et la finance décentralisée
      (DéFi), en se concentrant sur les méthodes mathématiques et statistiques utilisées dans la finance quantitative,
       la plateforme est un outil dédié aux traders pour la gestion de leurs portefeuilles, des risques et d’aide
        à la décision.
             </p>
        </div>
      </div>
        


      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4">
         <!-- Links -->

          <div class="container">
            <p class="cntct">Contact</p>
          </div>
          
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> medium.com/laevitas
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> contact@laevitas.ch
          </p>
      
         <p><i class="fab fa-twitter"></i> &nbsp; &nbsp; &nbsp; &nbsp; twitter.com/laevitas</p>
        </div>
        </div>
        </div>
    <!-- Grid row -->

  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright : <img class="logo" src="/assets/images/laevitas-logo.png" alt="logo">
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->