<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
    <mdb-navbar-brand>
        <a  routerLink="/" class="navbar-brand"><img class="logo" src="assets/images/laevitas-logo.png" alt="oupss">
        </a>
    </mdb-navbar-brand>
    <links class="topbtn">
   
        <a routerLink="/signin" class=" waves-light" mdbWavesEffect ><button  mdbBtn type="button" 
            gradient="blue" rounded="true" mdbWavesEffect>Connexion</button></a>
        <a routerLink="/signup"   class=" waves-light" mdbWavesEffect ><button  mdbBtn type="button" 
            gradient="blue" rounded="true" mdbWavesEffect>S'inscrire</button></a>
    </links>
    
  </mdb-navbar>