
<div class="container1 " style="background-image: url('/assets/images/login-bg.jpg');">
<div class="container-login">
    <div class="wrap-login p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login-form validate-form">
            

            <div class="wrap-input validate-input m-b-20" data-validate="Email">
                <input [(ngModel)]="LoginUserData.email" class="input" type="text" name="username" placeholder="Email">
                <span class="focus-input"></span>
            </div>

            <div class="wrap-input validate-input m-b-25" data-validate = "Password">
                <input [(ngModel)]="LoginUserData.password"  class="input" type="password" name="pass" placeholder="Mot de passe">
                <span class="focus-input"></span>
            </div>
            <div>
                <h5 *ngIf="error">{{error}} </h5>
            </div>

            <div class="container-login-form-btn">
                <button class="login-form-btn" (click)="LoginUser()">
                    Connexion
                </button>
            </div>

        

            <div class="text-center">
                <a href="#" class="txt2 hov1" routerLink="/signup">
                    S'inscrire
                </a>
            </div>
        </form>

        
    </div>
</div>
</div>

